@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* baseline styles */



body {
	font-family: 'Open Sans', sans-serif; 
	position:relative;
}

h1, p, figcaption { text-align: center;}

h1 {margin-top: 5px;}

form {
	border:white;
	padding:1vh 1vw;
}

input[type=search] {
	margin: auto;
	font-size: 16px;
	border: solid thin #C0C0C0;
	border-radius: 10%;
	display:block;
	width: 90vw; /* To be applied when device width < 460px */
}

#gallery {
  margin: 5vh auto; 
  display:flex; 
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  width: 320px;
  height: 3000px;}


footer {
	margin: 5vh 0;
}

#infolink { 
  text-decoration: none;
}

#infoicon {
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 1em;
  background-image: url('info.png');
  background-position: center;
  background-repeat: no-repeat;
}

kbd {
  background-color: rgb(50,50,50);
  color: white;
  display: inline-block;
  border-radius: 25%;
  padding: 0.2em;
  font-family: monospace;
}

/* lightbox classes */
 figure.lightbox {
   	margin: 0;
    position:fixed;
    left:0;
    top:0;
    background-color: rgba(50,50,50,0.9);
    width: 100vw;
    height: 100vh;
    padding-bottom: 5vh;
    z-index: 98;

  }

  iframe {
    margin: auto;
  }

  .image {
    margin: auto;
    padding: 0 0 1em 0;
    width: 100%;
    max-width: 1100px;
    float: none;
    display: block;
    opacity: 1.00;
    cursor: pointer;
    z-index: 99;
  }

  .video {
    margin: 6vh auto;
    float: none;
    display: block;
    opacity: 1.00;
    cursor: pointer;
    z-index: 99;
    max-width: 1100px;
  }

  figcaption {
  	width: 95%;
    max-width: 600px;
    color: white;
    margin: auto;
    padding: 1vh 0;
  }

  .no_scroll_bar{
  	overflow: hidden; /* To be switched on and off with js */
  }

  .arrow {
  	position:fixed;    
    top:50%;
    z-index: 100;
    width: 80px;
    margin: 0;
    padding: 0;
  }

  #rarrow {
  	right: 3%;
  }

  #larrow {
  	left: 3%;
  }

  .not_found {
  	display: none;
  }

/* Modal Plugin */

#lean_overlay {
    position: fixed;
    z-index: 10000;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

  #instructions {

    width: 80%;
    max-width: 600px;
    padding: 2vh 2vw;
    display:none;
    background: #FFF;
    border-radius: 2vw; 
    font-size: 18px;
    line-height: 1.4;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);        
}


  
/* Small devices */





/* Search Box = 460px as soon as there is enough space */

@media (max-width: 460px){
  #infoicon {
  display: block;
  width: 32px;
  padding: 32px;
  margin: auto;
  background-image: url('info.png');
  background-position: center;
  background-repeat: no-repeat;  
}

}

@media (min-width:460px){
#search {width: 460px;}
}

/* Two images 200 * 2 + 20= 420 + 60 =  480*/

@media (min-width: 480px) and (max-width: 749px) {
	#gallery {
    width:480px;
    height: 1440px;
    justify-content: space-around;}


}

/* Three images */

@media (min-width: 750px) and (max-width: 1030px) {
	#gallery {width:720px;
            height: 980px;
            justify-content: space-between;}

}

@media (min-width: 1031px) {

#lbitem {
	width: 90%;
	margin-top: 5%;
}

#gallery {
	width: 980px;
  height: 720px;
  justify-content: space-between;
}


p {
	margin: auto;
}
	
}


